<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>Title2 {{title2}}</h2>
  <h3 [innerHtml] = "title"></h3>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<button (click)="clickButton($event)">text</button>
<h2 class='app'>Here are some links to help you start: </h2>
<img [src]='logo'>
<img src='./assets/svg.png'>
<div>{{name}}</div>
<input type="text" [value] ="name" (blur)="handleBlur($event)"  (input)="handleInput($event)">
<br>
<input type="text" [ngModel] ="name2" (ngModelChange)="handleChange($event)">
<br>
<div>{{name2}}</div><br>
<input type="text" [(ngModel)] ="name2">
<div *ngIf="name2.length > 2">
	Searching for... {{name2}}
</div>
<!-- <template [ngIf]="name2.length > 2">
	<div>
		Searching for... {{name2}}
	</div>
</template> -->
<br><br><br><br><br>
<p>{{passengers | json}}</p>
<input type="text" #username>

<button (click)="handleClick(username.value)">button2</button>
<ul>
		<li *ngFor="let passenger of passengers; let i = index;">
			<span class="status" [class.checked-in]="passenger.checkedIn"></span><!--  16 видео с классами -->
			{{i}}: {{passenger.fullname}}
			<!-- <span [ngClass]="{
				'checked-in': passenger.checkedIn, 
				'checked-out' !passenger.checkedIn
			}">Text</span> -->
		</li>
	</ul>
	<!-- <ul>
		<template ngFor let-passenger let-i="index" [ngForOf]="passengers">
			<li></li>
		</template>
	</ul> -->
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>


